{% load split_url %}
<div class="d-md-block d-none">
    <div class="row mb-3">
        <div class="col-4 text-center mb-5">
            <img src="{{user.profile_photo.url}}" alt="" class="profile-photo-avatar" {% if request.user == user %}data-bs-toggle="modal" data-bs-target="#picture-upload"{% endif %}>
        </div>
        <div class="col-8">
            <h1 class="mb-4"> 
                {{user.username}}
                &nbsp;
                {% if request.user == user %}
                    <a href="{% url 'account:edit_profile' %}" class="btn btn-light border rounded text-dark fw-bold">Edit profile</a>
                    &nbsp;
                    <a href="#" class="text-dark"><i class="bi bi-gear-wide" style="font-size:28px;"></i></a>
                {% else %}
                    {% if user in request.user.profile.followings.all %}
                        <a href="{% url 'user:unfollow' user.username %}" class="btn btn-light border rounded text-dark fw-bold" title="Following">
                            Following
                        </a>
                        <a href="{% url 'chat:chat' inbox.slug %}" class="btn btn-light border rounded text-dark fw-bold">Message</a>
                    {% else %}
                        {% if request.user in user.profile.followings.all %}
                            <a href="{% url 'user:follow' user.id %}" class="btn btn-primary fw-bold rounded" title="Follow Back">Follow Back</a>
                        {% else %}
                            <a href="{% url 'user:follow' user.id %}" class="btn btn-primary fw-bold rounded" title="Follow">Follow</a>
                        {% endif %}
                    {% endif %}
                    <a href="#" class="text-dark">
                        <i class="fas fa-ellipsis-h pt-2" style="font-size:20px;" data-bs-toggle="modal" data-bs-target="#profile-option-{{user.id}}"></i>
                    </a>
                {% endif %}
            </h1>
            <div class="fs-5 mb-4">
                <span class="fw-bold">{{user_posts_count}}</span> posts
                &ensp;
                <a data-bs-toggle="modal" data-bs-target="#followers-{{user.id}}" class="text-dark text-decoration-none" style="cursor:pointer">
                    <span class="fw-bold">{{user.profile.followers.count}}</span> followers
                </a>
                &ensp;
                <a data-bs-toggle="modal" data-bs-target="#following-{{user.id}}" class="text-dark text-decoration-none" style="cursor:pointer">
                    <span class="fw-bold">{{user.profile.followings.count}}</span> following
                </a>
            </div>
            <div class="fs-6">
                <b>{{user.name}}</b>
                <br>              
                {% if user.bio %}              
                    {{user.bio|linebreaks}}
                {% endif%}
                {% if user.website %}
                    <a href="{{user.website}}" class="text-decoration-none fw-bold" target="_blank">{{user.website|split_url}}</a>
                {% endif %}
            </div>
        </div>
        {% if stories_count > 0 %}
            <div class="px-5">
                {% include 'user/highlights.html' %}
            </div>
        {% endif %}
    </div>
</div>