{% extends 'layouts/main-layout.html' %}

{% block content %}
    <div class="container my-5">
        <!-- Large screen -->
        {% include './profile-large-screen.html' %}
        <!-- Large screen -->
        <!-- Small screen -->
        {% include './profile-small-screen.html' %}
        <!-- Small Screen -->
        <hr>
        <ul class="nav nav-pills justify-content-center">
            <li class="nav-item">
            <a class="nav-link {% if user_posts %}active disabled{% endif %}" href="{% url 'profile' user.username %}"><i class="fas fa-th"></i>&nbsp;POSTS</a>
            </li>
            {% if request.user == user %}
                <li class="nav-item">
                    <a class="nav-link {% if user_bookmarks %}active disabled{% endif %}" href="{% url 'user_saved' user.username %}"><i class="fas fa-bookmark"></i>&nbsp;SAVED</a>
                </li>
            {% endif %}
        </ul>
        {% if user_bookmarks %}
            <div class="px-4 mx-auto">
                {% include 'user/user-bookmarks.html' %}
            </div>
        {% elif user_posts %}
            <div class="px-4 mx-auto">
                {% include 'user/user-posts.html' %}
            </div>
        {% endif %}
    </div>  
{% include 'user/highlights-create-modal.html' %}
{% include 'user/follower-modal.html' %}
{% include 'user/following-modal.html' %}

{% endblock content %}