{% extends 'layouts/story-layout.html' %}
{% load static %}
{% load format_created_at %}
{% block content %}

<div class="row">
  <div class="col-md-10 mx-auto px-3">
      <div class="row">
          <div class="col-md-6 px-3 mx-auto">
            <div class="card shadow rounded border-info">
              <div class="story-image">
                <img src="{{story.image.url}}" class="card-img-top" alt="...">
              </div>
              <div class="card-img-overlay text-center story-image">
                <h5 class="card-title fw-bold fs-1">{{story.caption}}</h5>
              </div>
              <div class="card-body text-center">
                <div class="d-flex justify-content-between mb-4 px-3">
                  <a href="{{ story.user.get_absolute_url }}" class="d-flex justify-content-start text-decoration-none text-dark">
                      <img src="{{story.user.profile_photo.url}}" class="me-2 post-profile-avatar">
                      <h6 class="fw-bold pt-2">{{story.user.username}}
                        &bull;
                        <small class="text-muted">{{story.created_at|format_created_time}}</small>
                      </h6>
                  </a>
                  <div class="dropdown">
                    <i class="fas fa-ellipsis-h pt-2" data-bs-toggle="dropdown" data-bs-auto-close="outside" style="cursor:pointer;"></i>
                    {% include 'story/story-options-dropdown.html' %}
                  </div>
                </div>

                {% if request.user != story.user %}
                  <form action="{% url 'story:reply_to_story' story.slug %}" method="post" class="px-3">
                    {% csrf_token %}
                    <div class="row g-0">
                      <div class="col-sm-10">
                        {{story_reply_form.body}}
                      </div>
                      <div class="col-sm-2">
                        <a href="{% url 'story:like_story' story.slug %}" class="text-decoration-none text-dark">
                          {% if request.user in story.likes.all %}
                            <i class="fas fa-heart py-1" style="font-size:30px; color: crimson;"></i>
                          {% else %}
                            <i class="far fa-heart py-1" style="font-size:30px;"></i>
                          {% endif %}
                        </a>
                      </div>
                    </div>
                  </form>
                {% else %}
                  <div class="d-flex justify-content-between my-2 px-3">
                    <button type="button" class="btn btn-dark rounded" data-bs-toggle="modal" data-bs-target="#story-{{story.id}}-views"><i class="fas fa-eye"></i>&nbsp;{{story.views.count}}</button>
                    <div class="d-flex justify-content-center">
                      <button type="button" class="btn btn-outline-primary rounded me-1" data-bs-toggle="modal" data-bs-target="#story-{{story.id}}-replies"><i class="fas fa-comment"></i>&nbsp;{{story.story_replies.count}}</button>
                      <button type="button" class="btn btn-danger rounded" data-bs-toggle="modal" data-bs-target="#story-{{story.id}}-likes"><i class="fas fa-heart"></i>&nbsp;{{story.likes.count}}</button>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
      </div>
  </div>
</div>

<div class="d-flex justify-content-between text-center mt-2">
  {% if prev_story %}
    <a href="{% url 'story:story_details' user.username prev_story.slug %}" class="btn btn-dark btn-sm rounded">&#8249;</a>
  {% else %}
    <a href="#" class="btn btn-dark btn-sm rounded float-start disabled">&#8249;</a>
  {% endif %}

  <div class="text-center mx-auto">
    {% for user_story in user_stories %}
      {% if user_story.id == story.id %}
        {{forloop.counter}} of {{user_stories.count}}
      {% endif %}
    {% endfor %}
  </div>

  {% if next_story %}
    <a href="{% url 'story:story_details' user.username next_story.slug %}" class="btn btn-dark btn-sm rounded">&#8250;</a>
  {% else %}
    <a href="#" class="btn btn-dark btn-sm rounded float-end disabled">&#8250;</a>
  {% endif %}
</div>

{% include 'story/story-like-modal.html' %}
{% include 'story/story-reply-modal.html' %}
{% include 'story/story-views-modal.html' %}

{% endblock content%}