{% extends 'layouts/main-layout.html' %}
{% load static %}
{% load format_created_at %}
{% block content %}

<div class="container px-3">
    <div class="row mx-auto">
        <div class="col-12 col-lg-8 mx-auto my-3">
            <h3 class="fw-bold my-5">Your activity</h3>
            <div class="card rounded">
                <div class="card-body">
                    <ul class="nav justify-content-center mb-3">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-arrow-left-right"></i>&nbsp;Interactions</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#"><i class="bi bi-images"></i>&nbsp;Photos</a>
                        </li>
                    </ul>
                    <ul class="nav nav-tabs justify-content-center">
                        <li class="nav-item">
                          <a class="nav-link" aria-current="page" href="{% url 'activity:likes' %}"><i class="bi bi-heart"></i>&nbsp;Likes</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link {% if comments %}active{% endif %}" href="#"><i class="bi bi-chat"></i>&nbsp;Comments</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Story Replies</a>
                        </li>
                    </ul>

                </div>                
            </div>
        </div>
    </div>
</div>

{% endblock content %}