{% load format_created_at %}
<div class="mt-5">
    <div class="row activity-post-details">
        <div class="col-12 mx-5">
        {% for reply in story_replies %}
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style="border: none">
                    <a href="{{ reply.user.get_absolute_url }}">
                        <img src={{reply.user.profile_photo.url}} alt="" class="post-profile-avatar"> 
                    </a>
                </li>
                <li class="list-group-item" style="border: none; width:500px">
                    <p> 
                        <a href="{{ reply.user.get_absolute_url }}" class="fw-bold text-decoration-none text-dark">{{reply.user.username}}</a> 
                        &nbsp;
                        replied <b>{{reply.body}}</b> on story from <a href="{{reply.story.user.get_absolute_url}}" class="fw-bold text-decoration-none text-dark">{{reply.story.user.username}}</a>
                        <br>
                        <span class="text-muted small">{{reply.created_at|format_created_time}}</span>
                    </p>  
                </li>
                <li class="list-group-item " style="border: none;"> 
                    <a href="{{reply.story.get_absolute_url}}">
                        <img src="{{reply.story.image.url}}" alt="{{reply.post.caption}}" style="width:48px;height:48px;object-fit: cover;">
                    </a>                            
                </li>
            </ul> 
        {% endfor %}
        </div>
    </div>
</div>