{% extends 'layouts/main-layout.html' %}

{% block content %}
<div class="container my-5 w-50">
    <div class="card shadow-sm rounded mx-auto">
        <div class="row card-body border">
            <div class="col-md-4">
                <ul class="list-group">
                    <li class="list-group-item">
                        canavi048
                    </li>
                </ul>
            </div>
            <div class="col-md-8">

            </div>
        </div>
    </div>
</div>
{% endblock content %}