<div id="carouselExampleControls{{post.slug}}" class="carousel slide bg-dark" data-ride="carousel">
    <div class="carousel-indicators">
        {% for image in images %}
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{forloop.counter0}}" class="{% if forloop.first %}active{% endif %}" aria-current="true" aria-label="Slide {{forloop.counter}}"></button>
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for image in images%}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{{image.image.url}}" class="d-block w-100"
                alt="...">
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls{{post.slug}}" role="button"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls{{post.slug}}" role="button"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>