{% load static %}
<nav class="navbar sticky-top navbar-expand navbar-light bg-light border">
    <div class="container d-flex justify-content-around">

        {% if variant == 'following' %}
            <a class="navbar-brand pb-3 me-5 fs-4" href="/">
                <i class="fas fa-chevron-left"></i>&ensp;Following
            </a>
        {% elif variant == 'favorites' %}
            <a class="navbar-brand pb-3 me-5 fs-4" href="/">
                <i class="fas fa-chevron-left"></i>&ensp;Favorites
            </a>
        {% elif variant == 'hot' %}
            <a class="navbar-brand pb-3 me-5 fs-4" href="/">
                <i class="fas fa-chevron-left"></i>&ensp;Hot Posts
            </a>
        {% else %}
            <div class="navbar-brand dropdown pb-3 me-5">
                <a class="nav-link active me-1" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{% static 'images/logo.png' %}" alt="logo" style="height: 30px;">
                </a>
                <ul class="dropdown-menu dropdown-menu-start dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'feed:custom_feed' %}?variant={{'following' | urlencode}}">Following<i class="fas fa-user-check ms-5"></i></a></li>                
                    <li><a class="dropdown-item" href="{% url 'feed:custom_feed' %}?variant={{'favorites' | urlencode}}">Favorites<i class="fas fa-star ms-5"></i></a></li>
                    <li><a class="dropdown-item" href="{% url 'feed:custom_feed' %}?variant={{'hot' | urlencode}}">Hot Posts<i class="fas fa-fire ms-5"></i></a></li>
                </ul>
            </div>
        {% endif %}

        <form class="d-flex d-md-block d-sm-none d-none me-3" style="width: 25%;" action="{% url 'search' %}" method="get">
            <div class="form-group position-relative has-icon-left">
                <input type="text" class="form-control rounded" placeholder="Search" name="q" {% if "search_term" %}value="{{search_term}}"{% endif %} required>
                <div class="form-control-icon">
                    <i class="bi bi-search"></i>
                </div>
            </div>
        </form>
        <div>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active me-1" href="/"><i class="fas fa-home" style='font-size:24px'></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active me-1" href="{% url 'chat:inbox' %}"><i class="fab fa-facebook-messenger" style='font-size:24px;'></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active me-1" href="#" data-bs-toggle="modal" data-bs-target="#create-post-modal">
                            <i class="far fa-plus-square" style='font-size:24px'></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active me-1" href="{% url 'explore' %}"><i class="far fa-compass" style='font-size:24px'></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active me-1" href="{% url 'notification:list' %}">
                            {% if unread_notifications_count > 0 %}
                                <i class="fas fa-heart" style='font-size:24px;color:red;'></i>
                            {% else %}
                                <i class="far fa-heart" style='font-size:24px;'></i>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item dropdown flex-shrink-0">
                        <a class="nav-link active me-1" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src={{request.user.profile_photo.url}} class="navbar-profile-image">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start" aria-labelledby="navbarDropdown" style="width: 200px">
                            <li><a class="dropdown-item" href="{% url 'profile' request.user.username %}"><i class="bi bi-person-circle"></i> Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'profile' request.user.username %}#saved"><i class="bi bi-bookmark"></i> Saved</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-gear-wide"></i> Settings</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-arrow-repeat"></i> Switch accounts</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'account:logout'%}">Log Out</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active me-1 btn btn-primary fw-bold btn-sm text-light rounded" href="{% url 'account:login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active me-1 btn btn-link fw-bold text-primary" href="{% url 'account:signup' %}">Sign Up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% include 'common/notification-canvas.html' %}