<div class="dropdown-menu dropdown-menu-end dropdown-menu-start rounded" style="width: 500px">
    <ul class="list-group list-group-flush" style="overflow:auto;max-height:400px">
        <li class="list-group-item d-flex justify-content-between" style="border:none;">
            <div class="d-flex align-items-start">
                <img src="{{request.user.profile_photo.url}}" alt="{{request.user.profile_photo.usernme}}" class="comment-profile-avatar me-3">
                <p class="pt-2">Bubai started following you. <span class="text-muted small">2 days</span></p>
            </div>
            <a href="#" class="btn btn-primary rounded fw-bold" style="height:40px;">Follow</a>
        </li>
        <li class="list-group-item d-flex justify-content-between" style="border:none;">
            <div class="d-flex align-items-start">
                <img src="{{request.user.profile_photo.url}}" alt="{{request.user.profile_photo.usernme}}" class="comment-profile-avatar me-3">
                <p class="pt-2">Bubai liked your post. <span class="text-muted small">2 days</span></p>
            </div>
            <a href="http://127.0.0.1:8000/p/QTsGmNBnapfr/"><img src="http://127.0.0.1:8000/media/post/noise_colorfit_callibre.jpeg" alt="" style="width:48px;height:48px;object-fit: cover;"></a>
        </li> 
    </ul>
</div>