{% load humanize %}
<div class="dropdown-menu dropdown-menu-end dropdown-menu-start rounded" style="width: 500px">
    <ul class="list-group list-group-flush" style="overflow:auto;max-height:400px">
        {% for noti in notifications %}
        <li class="list-group-item d-flex justify-content-between" style="border:none;">
            <a href="{% url 'profile' noti.from_user.username %}" class="d-flex align-items-start text-decoration-none text-dark">
                <img src="{{noti.from_user.profile_photo.url}}" alt="{{noti.user.usernme}}" class="comment-profile-avatar me-3">
                <p class="pt-2">{{noti.title}} <span class="text-muted small">{{noti.created_at|naturaltime}}</span></p>
            </a>
            {% if noti.post %}
                <a href="http://127.0.0.1:8000/p/QTsGmNBnapfr/"><img src="http://127.0.0.1:8000/media/post/noise_colorfit_callibre.jpeg" alt="" style="width:48px;height:48px;object-fit: cover;"></a>
            {% else %}
                {% if not noti.from_user in request.user.profile.followings.all %}
                    <a href="{% url 'user:follow' noti.from_user.id %}" class="btn btn-primary rounded fw-bold" style="height:40px;">Follow</a>
                {% endif %}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>