<div class="card rounded mb-2 shadow">
    <div class="story-block pt-3 mb-3 px-3" style="height: 110px;">
        <ul class="list-group list-group-horizontal list-group-flush">
            
            <li class="list-group-item" style="border: none">
                <a href="#">
                    <img src="{{request.user.profile_photo.url}}" alt="" class="story-image-avatar border border-3 border-danger">
                </a>
                <small>Your story</small>
            </li>
            <li class="list-group-item" style="border: none">
                <a href="#">
                    <img src="{{request.user.profile_photo.url}}" alt="" class="story-image-avatar border border-3 border-danger">
                </a>
                <small>{{request.user.username}}</small>
            </li>
            <li class="list-group-item" style="border: none">
                <a href="#">
                    <img src="{{request.user.profile_photo.url}}" alt="" class="story-image-avatar border border-3 border-danger">
                </a>
                <small>{{request.user.username}}</small>
            </li>
            <li class="list-group-item" style="border: none">
                <a href="#">
                    <img src="{{request.user.profile_photo.url}}" alt="" class="story-image-avatar border border-3 border-danger">
                </a>
                <small>{{request.user.username}}</small>
            </li>
            <li class="list-group-item" style="border: none">
                <a href="#">
                    <img src="{{request.user.profile_photo.url}}" alt="" class="story-image-avatar border border-3 border-danger">
                </a>
                <small>{{request.user.username}}</small>
            </li>
            <li class="list-group-item" style="border: none">
                <a href="#">
                    <img src="{{request.user.profile_photo.url}}" alt="" class="story-image-avatar border border-3 border-danger">
                </a>
                <small>{{request.user.username}}</small>
            </li>
            <li class="list-group-item" style="border: none">
                <a href="#">
                    <img src="{{request.user.profile_photo.url}}" alt="" class="story-image-avatar border border-3 border-danger">
                </a>
                <small>{{request.user.username}}</small>
            </li>
            <li class="list-group-item" style="border: none">
                <a href="#">
                    <img src="{{request.user.profile_photo.url}}" alt="" class="story-image-avatar border border-3 border-danger">
                </a>
                <small>{{request.user.username}}</small>
            </li>
            <li class="list-group-item" style="border: none">
                <a href="#">
                    <img src="{{request.user.profile_photo.url}}" alt="" class="story-image-avatar border border-3 border-danger">
                </a>
                <small>{{request.user.username}}</small>
            </li>
            <li class="list-group-item" style="border: none">
                <a href="#">
                    <img src="{{request.user.profile_photo.url}}" alt="" class="story-image-avatar border border-3 border-danger">
                </a>
                <small>{{request.user.username}}</small>
            </li>
        </ul>
    </div>
</div>