<div class="card rounded mb-2 shadow">
    <div class="story-block pt-3 mb-3 px-3" style="height: 110px;">
        <ul class="list-group list-group-horizontal list-group-flush">
            
            <li class="list-group-item" style="border: none">
                <a href="#">
                    <img src="{{request.user.profile_photo.url}}" alt="" 
                    class="story-image-avatar border border-4 border"
                    data-bs-toggle="modal" data-bs-target="#story-option-modal">
                </a>
                <br>
                <small>Your story</small>
            </li>
            {% if story_users %}
                {% for user in story_users %}
                    <li class="list-group-item" style="border: none">
                        <a href="{% url 'story:story_details' user.username user.get_first_active_story.slug %}">
                            <img src="{{user.profile_photo.url}}" alt="" 
                            class="story-image-avatar border border-3 {% if request.user not in user.story_set.last.views.all %}border-danger{% endif %}">
                        </a>
                        <br>
                        <small data-bs-toggle="tooltip" data-bs-placement="top" title="{{user.username}}">{% if user.username|length > 9 %}{{user.username|slice:':6'}}...{% else %}{{user.username}}{% endif %}</small>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
{% include 'story/story-option-modal.html' %}