<!-- Post Details Modal -->
{% load format_created_at %}
<div class="modal" id="post-details-{{post.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content rounded">
            <div class="modal-body">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-7">
                            <div class="card-header d-md-none d-sm-block" id="card-header-footer-color">
                                <div class="d-flex justify-content-between my-1">
                                    <div class="d-flex justify-content-center">
                                        <img src="{{post.user.profile_photo.url}}" class="me-3 post-profile-avatar">
                                        <h6 class="fw-bold pt-2">{{post.user.username}}</h6>
                                    </div>
                                    <div>
                                        {% if post.user in request.user.profile.favourites.all %}
                                            <i class="fas fa-star pt-2 me-3" style="color: darkorange;"></i>
                                        {% endif %}
                                        <i class="fas fa-ellipsis-h pt-2" data-bs-toggle="dropdown" data-bs-auto-close="outside" style="cursor:pointer;"></i>
                                        {% include 'post/post-options-dropdown.html' %}
                                    </div>
                                </div>
                            </div>
                            {% with images=post.postimage_set.all %}
                                {% if images.count > 1 %}
                                    {% include 'common/carousel-detail.html' %}
                                {% else %}
                                    {% for image in images %}
                                        <div class="single-image bg-dark">
                                            <img src="{{image.image.url}}" class="card-img-top" alt="...">
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                        <div class="col-md-5">
                            <div class="card-header d-md-block d-sm-none" id="card-header-footer-color">
                                <div class="d-flex justify-content-between my-1">
                                    <div class="d-flex justify-content-center">
                                        <img src="{{post.user.profile_photo.url}}" class="me-3 post-profile-avatar">
                                        <h6 class="fw-bold pt-2">{{post.user.username}}</h6>
                                    </div>
                                    <div>
                                        {% if post.user in request.user.profile.favourites.all %}
                                            <i class="fas fa-star pt-2 me-3" style="color: darkorange;"></i>
                                        {% endif %}
                                        <i class="fas fa-ellipsis-h pt-2" data-bs-toggle="dropdown" data-bs-auto-close="outside" style="cursor:pointer;"></i>
                                        {% include 'post/post-options-dropdown.html' %}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body comment-area d-md-block d-none">
                                <div class="mt-1 mb-3">
                                    <div class="d-flex justify-content-between my-1">
                                        <div class="d-flex justify-content-center">
                                            <ul class="list-group list-group-horizontal">
                                                <li class="list-group-item" style="border: none">
                                                    <a href="{% url 'profile' post.user.username %}">
                                                        <img src={{post.user.profile_photo.url}} alt="" class="post-profile-avatar"> 
                                                    </a>
                                                </li>
                                                <li class="list-group-item" style="border: none;">
                                                    <p> <a href="{% url 'profile' post.user.username %}" class="fw-bold text-decoration-none text-dark">{{post.user.username}}</a> &nbsp;{{post.caption}}</p>  
                                                </li>
                                            </ul>
                                        </div>
                                    </div> 
                                </div>
                                {% include 'common/comments.html' %}
                            </div>
                            <div class="card-body w-100">
                                <div class="d-flex justify-content-between my-2">
                                    <div class="d-flex justify-content-center">
                                        <a href="{% url 'post:add_like' post.id %}" class="text-decoration-none">
                                            {% if request.user in post.likes.all %}
                                            <i class="fas fa-heart me-3" style='font-size:24px;color: red;'></i>
                                            {% else %}
                                            <i class="far fa-heart me-3 text-dark" style='font-size:24px;'></i>
                                            {% endif %}
                                        </a>
                                        <i class="far fa-paper-plane" style='font-size:24px'></i>
                                    </div>
                                    <a href="{% url 'post:add_bookmark' post.id %}" class="text-decoration-none">
                                        {% if post in profile.bookmarks.all %}
                                            <i class="fas fa-bookmark text-dark" style='font-size:24px'></i>
                                        {% else %}
                                            <i class="far fa-bookmark text-dark" style='font-size:24px'></i>
                                        {% endif %}
                                    </a>
                                </div>
                                <p class="fw-bold">{{post.likes.count}} like{{post.likes.count|pluralize}}</p>
                                <small class="text-muted">{{post.created_at|format_created_time}}</small>
                            </div>
                            <form action="{% url 'post:add_comment' post.id %}" method="post" class="input-group">
                                {% csrf_token %}
                                <span class="input-group-text"><i class='far fa-smile' style='font-size:24px'></i></span>
                                {{comment_form.body}}
                                <button class="btn btn-outline-primary" type="submit">Post</button>                                                 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>