<!-- Post Options Modal -->
{% load static %}
<div class="modal fade" id="post-options-{{post.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded"> 
            <div class="modal-body">
                <ul class="list-group text-center">
                    {% if request.user == post.user %}
                        <a href="{% url 'post:delete_post' post.id %}" class="btn btn-light w-100 text-danger border-bottom">Delete</a>
                        <a href="{% url 'post:update_post' post.slug %}" class="btn btn-light w-100 border-bottom">Edit</a>
                    {% else %}
                        {% if post.user in request.user.profile.followings.all %}
                            <a href="{% url 'user:unfollow' post.user.username %}" class="btn btn-light w-100 text-danger border-bottom">Unfollow <span class="fw-bold">{{post.user.username}}</span></a>
                        {% else %}
                            <a href="{% url 'user:follow' post.user.id %}" class="btn btn-light w-100 text-danger border-bottom">Follow <span class="fw-bold">{{post.user.username}}</span></a>
                        {% endif %}
                    {% endif %}
                    <a href="{% url 'post:add_favorites' post.user.id %}" class="btn btn-light w-100 border-bottom">
                    {% if post.user not in request.user.profile.favourites.all %}
                        Add to favorites
                    {% else %}
                        Remove from favorites
                    {% endif %}
                    </a>
                    {% if not details %}
                      <a href="{% url 'post:post_details' post.slug %}" class="btn btn-light w-100 border-bottom">Go to post</a>
                    {% endif %}
                    <a href="#" class="btn btn-light w-100 border-bottom" data-bs-toggle="modal" data-bs-target="#share-options-{{post.id}}">Share to...</a>
                    <button type="button" class="btn btn-light w-100 border-bottom" onclick="copyLink({{post.id}})" id="copyLinkBtn-{{post.id}}">
                        <input type="text" value="{{request.get_host}}/p/{{post.slug}}/" id="copy-link-{{post.id}}" class="d-none">
                        Copy link
                    </button>
                    <a href="#" class="btn btn-light w-100 border-bottom" data-bs-dismiss="modal">Cancel</a>
                </ul>
            </div>
        </div>
    </div>
</div>