<!-- Post Options Modal -->
{% load static %}
<div class="modal fade" id="share-options-{{post.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content rounded">
            <div class="modal-header text-center">
                <div class="modal-title w-100">
                    Share to...
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <a href="#" class="btn btn-light w-100 border-bottom text-start">
                        <i class="far fa-paper-plane"></i>&ensp;Share to Direct
                    </a>
                    <a href="#" class="btn btn-light w-100 border-bottom text-start"><i class="fab fa-facebook"></i>&ensp;Share to Facebook</a>
                    <a href="#" class="btn btn-light w-100 border-bottom text-start"><i class="fab fa-twitter"></i>&ensp;Share to Twitter</a>
                    <a href="#" class="btn btn-light w-100 border-bottom text-start"><i class="fas fa-envelope"></i>&ensp;Share via Email</a>
                    <button type="button" class="btn btn-light w-100 border-bottom text-start" onclick="copyLink({{post.id}})" id="copyLinkBtn-{{post.id}}">
                        <input type="text" value="{{request.get_host}}/p/{{post.slug}}/" id="copy-link-{{post.id}}" class="d-none">
                        <i class="fas fa-link"></i>&ensp;Copy link
                    </button>
                </ul>
            </div>
        </div>
    </div>
</div>