{% extends 'layouts/auth-layout.html' %}
{% load static %}
{% block content %}
<div class="row mt-5">
    <div class="col-lg-4 col-md-8 col-sm-12 mx-auto px-5">
        <div class="card shadow mb-2">
            <div class="card-body">
                <div class="card-text text-center fs-1 my-4">
                    <img src="{% static 'images/logo.png' %}" alt="logo" style="height: 50px;">
                    <p class="fw-bold text-muted my-2 fs-6 px-5">
                        Sign up to see photos and videos from your friends.
                    </p>
                </div>
                <form action="" method="post" class="px-4">
                    {% csrf_token %}
                    {{form.email}}
                    {{form.name}}
                    {{form.username}}
                    {{form.password1}}
                    {{form.password2}}
                    <button type="submit" class="btn btn-primary btn-sm w-100 rounded mb-3">Sign up</button>
                </form>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-body text-center">
                <div class="card-text">
                    Have an account? <a href="{% url 'account:login' %}" class="text-decoration-none fw-bold">Log in</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}