<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
    
        <li class="nav-item">
            <a class="nav-link {% if nav != 'home' %}collapsed{% endif %}" href="{% url 'dashboard:home' %}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->
    
        <li class="nav-item">
            <a class="nav-link {% if nav != 'users' %}collapsed{% endif %}" href="{% url 'dashboard:users' %}">
                <i class="bi bi-menu-button-wide"></i><span>Users</span><i class="ms-auto"></i>
            </a>
        </li><!-- End Components Nav -->
    
        <li class="nav-item">
            <a class="nav-link {% if nav != 'posts' %}collapsed{% endif %}" href="{% url 'dashboard:posts' %}">
                <i class="bi bi-layout-text-window-reverse"></i><span>Posts</span><i class="ms-auto"></i>
            </a>
        </li>
    
        <li class="nav-item">
            <a class="nav-link {% if nav != 'stories' %}collapsed{% endif %}" href="{% url 'dashboard:stories' %}">
                <i class="bi bi-layout-text-window-reverse"></i><span>Stories</span><i class="ms-auto"></i>
            </a>
        </li>
    
        <li class="nav-item">
            <a class="nav-link {% if nav != 'reports' %}collapsed{% endif %}" href="#">
                <i class="bi bi-bar-chart"></i><span>Reports</span><i class="ms-auto"></i>
            </a>
        </li>
    
        <li class="nav-heading">Pages</li>
    
    </ul>
    
</aside>
<!-- End Sidebar-->