<!-- Follower Modal -->
{% load static %}
<div class="modal" id="followers-{{user.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content rounded">
            <div class="modal-header text-center">
                <div class="modal-title w-100">
                    Followers
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ol class="list-group list-group-flush">
                    {% for follower in user.profile.followers.all %}
                        <li class="list-group-item d-flex justify-content-between align-items-start" style="border: none">
                            <a href="{{follower.get_absolute_url }}" class="text-decoration-none text-dark">
                                <img src={{follower.profile_photo.url}} alt="" class="post-profile-avatar">
                                <div class="ms-2 me-auto fs-6">
                                    <div class="fw-bold">
                                        {{follower.username}}</a>
                                {% if follower not in request.user.profile.followings.all and user == request.user %}
                                    &bull; <a href="{% url 'user:follow' follower.id %}" class="text-decoration-none">Follow</a>
                                {% endif %}
                                </div>
                                <span class="text-muted">{{follower.name}}</span>
                            </div>
                            {% if user == request.user  %}
                                <span>
                                    <a href="{% url 'user:remove_follower' follower.id %}" class="fw-bold btn btn-light btn-sm border rounded">Remove</a>
                                </span>
                            {% endif %}
                            {% if follower != request.user and user != request.user %}
                                {% if follower in request.user.profile.followings.all %}
                                    <a href="{% url 'user:unfollow' follower.username %}" class="fw-bold btn btn-light btn-sm border rounded">Following</a>
                                {% else %}
                                    <a href="{% url 'user:follow' follower.id %}" class="fw-bold btn btn-primary btn-sm rounded">Follow</a>
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>