<div class="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" id="edit-highlight">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content rounded-4">
          <div class="modal-header text-center">
            <h6 class="modal-title w-100">Edit Highlight</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" action="{% url 'user:edit_highlight' highlight.slug %}" class="px-3">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded" id="floatingInput" placeholder="Highlight Name" name="highlight_name" value="{{highlight.name}}" required>
                    <label for="floatingInput">Highlight Name</label>
                </div>
                <p class="fw-bold mb-3">Stories</p>
                <div class="row g-3">
                    {% for story in user.story_set.all %}
                        <div class="col-md-6 mb-3">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="story" value="{{story.id}}" {% if story in highlight.stories.all %}checked{% endif %}>
                                <label class="form-check-label" for="exampleCheck1">{{story.caption|truncatewords:5}}</label>
                            </div>
                            <div class="higlight-story bg-dark">
                                <img src="{{story.image.url}}" alt="" class="higlight-story">
                            </div>
                        </div>
                    {% endfor %}
                </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-link text-decoration-none fw-bold w-100">Done</button>
          </div>
            </form>
        </div>
    </div>
</div>