{% load static %}
<div class="my-3 px-5">
    <div class="story-block">
        <ul class="list-group list-group-horizontal list-group-flush">
            {% if highlights %}
                {% for highlight in highlights %}
                    <li class="list-group-item text-center me-1" style="border: none">
                        <a href="{% url 'story:highlight_details' highlight.slug highlight.get_first_story.slug %}">
                            <img src="{{highlight.get_first_story.image.url}}" alt="" 
                            class="higlights-avatar border border-3">
                        </a>
                        <br>
                        <small data-bs-toggle="tooltip" data-bs-placement="top" title="{{highlight.name}}">{% if highlight.name|length > 12 %}{{highlight.name|slice:':10'}}...{% else %}{{highlight.name}}{% endif %}</small>
                    </li>
                {% endfor %}
            {% endif %}
            {% if user == request.user %}
                <li class="list-group-item text-center" style="border: none">
                    <a>
                        <img src="{% static 'images/plus.png' %}" alt="" 
                        class="higlights-avatar border border-3"
                        data-bs-toggle="modal" data-bs-target="#create-highlight">
                    </a>
                    <br>
                    <small>New</small>
                </li>
            {% endif %}
        </ul>
    </div>
</div>