<!-- Profile Picture Upload Modal -->
{% load static %}
<div class="modal" id="picture-upload" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content rounded"> 
            <div class="modal-body text-center">
                <img src={{user.profile_photo.url}} alt="" class="unfollow-image-avatar my-3">
                <ul class="list-group">
                    <form action="{% url 'user:upload_profile_photo' user.username %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="profile_photo" id="file-input" class="visuallyhidden" accept="image/*">
                        <button class="file-upload btn btn-light w-100 fw-bold text-primary">Upload Photo</button>
                        <div class="modal-footer flex-nowrap p-0">
                            <button type="submit" class="btn btn-lg btn-link fs-6 fw-bold text-decoration-none col-6 m-0 rounded-0 border-right">Upload</button>
                            <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" data-bs-dismiss="modal">Cancel</button>
                        </div>
                </form>
                </ul>
            </div>
        </div>
    </div>
</div>