<div class="mt-5" id="saved">
    <div class="row mb-5 g-1">
        {% for post in user_bookmarks %}
            <div class="col-4">
                <div class="card rounded shadow-sm">
                    <div class="related-post-image">
                        <a href="{% url 'post:post_details' post.slug %}">
                            {% with image=post.postimage_set.first %}
                                <img src="{{image.image.url}}" class="card-img" alt="{{post.caption}}">
                            {% endwith %}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>